.stars{
  color: rgb(239, 188, 94);
}

#hero {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(../img/alex-suprun-AHnhdjyTNGM-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 70vh;
  display: grid;
  place-items: center;
}
#hero .title {
  font-size: 35px;
  text-align: center;
  color: var(--clr-white);
}
#hero .button {
  font-size: 25px;
  padding-inline: 50px;
}

#featured-cars {
}
#featured-cars .card-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
#featured-cars .card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 400px;
  box-shadow: 0px 0px 10px 0px var(--clr-shadow);
}
#featured-cars .card img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 60%;
  object-fit: cover;
}
#featured-cars .wrapper {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}
#featured-cars .car-name {
  font-size: 20px;
  font-weight: 500;
}

#featured-cars .price,
#featured-cars .info {
  font-weight: 400;
}

#featured-cars .button {
  font-size: 16px;
  width: fit-content;
  padding: 5px 20px;
}

#services .card-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
#services .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 250px;
  background-color: var(--clr-secondary);
  padding: 0 20px 20px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px var(--clr-shadow);
}
#services .card .title{
  text-align: center;
}
#services .card img {
  width: 100px;
  aspect-ratio: 1;
  object-fit: cover;
}
#services .details {
  text-align: center;
}
#comments {
  height: 500px;
}
#comments .wrapper{
  height: calc(100% - 40px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
#comments .comments-list{
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 100%;
  overflow-y: scroll;
}
#comments .card{
  position: relative;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0px var(--clr-shadow);
}
#comments .name{font-size: 18px; font-weight: 400;margin-bottom: 10px;}
#comments .card .stars{position: absolute; top: 10px;right: 10px;}
#comments .comments-form .subtitle {
  margin-bottom: 30px;
}
 #comments .form-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
 }
 #comments .input-container:is(:nth-child(1),:nth-child(2)){
  width: calc((60% - 10px) / 2);
 }
 #comments .input-container:nth-child(3){
   width: calc(40% - 10px);

 }
 #comments .form-container .stars{
  /* display: flex;
  align-items: center;
  justify-content: center; */
  font-size: 30px;
 }
 #comments .input-container:nth-child(4){
  width: 100%;
 }

#opening-hours {
}
#opening-hours .card-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#opening-hours .card {
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px var(--clr-shadow);
}
#opening-hours .card .title {
  margin-bottom: 10px;
}
#opening-hours span {
  font-weight: 400;
}

@media screen and (min-width: 0px) and (max-width: 500px){
  #featured-cars .card-list {
    display: flex;
    flex-direction: column;
  }
  #opening-hours .card-list {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
  }
  #services .card-list {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  #services .card{
    height: auto;
  }
  #services .details {
    text-align: left;
  }
  #services .details > div {
    margin-bottom: 10px;
  }
  #services .details > div:nth-child(3) {
    display: none;
  }
  #services .details > div::before {
    content: '> ';
    font-weight: 600;
  }
  #comments {
    height: auto;
  }
  #comments .comments-list {
    height: 500px;
  }
  #comments .wrapper {
    display: block;
  }
  #comments .input-container:is(:nth-child(1),:nth-child(2)){
    width: calc((100% - 10px) / 2);
  }
  #comments .input-container:nth-child(3) {
    width: 100%;
  }
}