main > .title {
  margin: 20px 0 0 20px;
}
main > .subtitle {
  margin: 0 0 0 20px;
  color: grey;
  font-size: 14px;
}
#filters {
  margin-top: 15px;
  min-height: 100px;
  /* background-color: lightblue; */
  /* display: flex; */
  flex-direction: row;
}
#cars-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 0.33fr));
  gap: 15px;
}
.card {
  position: relative;
  height: 410px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 var(--clr-shadow);
  cursor: pointer;
  transition: scale 0.3s;
}
.card:hover {
  scale: 1.01;
}
.card img {
  border-radius: 10px 10px 0 0;
  height: 75%;
  width: 100%;
  object-fit: cover;
}
.card .car-name {
  margin-bottom: 10px;
}
.card .wrapper {
  padding: 20px;
}
.card .price {
  position: absolute;
  right: 0;
  top: calc(75% - (35px / 2));
  padding: 5px 15px;
  border-radius: 4px 0 0 4px;
  font-weight: 600;
  font-size: 20px;
  color: var(--clr-white);
  background-color: var(--clr-primary);
}
.card .details {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.card .spacer {
  font-weight: 700;
  color: var(--clr-primary);
}

@media screen and (min-width: 0px) and (max-width: 500px) {
  #cars-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

.range_container {
  display: flex;
  flex-direction: column;
  /* width: 80%; */
  padding-block: 15px;
  /* margin: 35% auto; */
}

.sliders_control {
  position: relative;
  /* min-height: 50px; */
}

.form_control {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #635a5a;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #c6c6c6;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #c6c6c6;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}


input[type="number"] {
  color: #8a8383;
  width: 50px;
  height: 30px;
  font-size: 20px;
  border: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #c6c6c6;
  pointer-events: none;
  padding: 0;
  border: none;
}

#fromSlider {
  height: 0;
  z-index: 1;
}

.filter {
  width: 30%;
}
.price-filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.price-filter .text {
  font-size: 16px;
  font-weight: 500;
}
.price-filter .wrap {
  padding: 5px;
  font-weight: 500;
  color: grey;
}
.to-value,
.from-value{
  padding-inline: 10px;
}
.to-value::after,
.from-value::after {
  content: "€";
}
